@font-face {
  font-family: Yekan;
  src: url("yekan.ttf");
}

body {
  background-image: url(https://get.wallhere.com/photo/sunlight-dark-red-texture-circle-atmosphere-lens-flare-pink-magenta-light-color-background-shape-line-petal-screenshot-computer-wallpaper-font-blemishes-602550.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  font-family: Yekan,'Raleway', 'arial';
  font-weight: 600;
}



@media screen and (max-width: 1300px) 
{
  body 
  {
    background-size: auto;
  }
}

#container 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#form_box 
{
  background: white;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_heading 
{
  color: #006df0;
  padding: 40px 0 0 10px;
  font-family: Yekan,'Raleway', 'arial';
  font-weight: 100;
  font-size: 1.5em;
}

#font_20 {
  font-size: 15px;
}

input 
{
  background: none;
  width: 300px;
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #006df0;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 17px;
}

input:focus 
{
  box-shadow: 0 0 10p #006df0;
  padding: 10px;
  margin: 10px;
  border: 1px solid #006df0;
}

input[type=submit]:hover 
{
  cursor: pointer;
}

#credits_box 
{
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 380px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#submit
{
  background: #006df0;
  border: 1px solid #006df0;
  color: aliceblue;
  width: 320px;
}

a 
{
  text-decoration: none;
  color:black;
  cursor: pointer;
}

a:hover 
{
  text-decoration: underline;
}

input
{
  font-family: Yekan,'Raleway', 'arial';
}
